<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        main{
            display: grid;
            grid-template-columns: 1fr 80px 1fr;
        }
        .matching{
             
             display: flex;
             flex-direction: row;
             justify-content: flex-start;
             align-items: center;
         }
         .end{
            justify-content: flex-end;
         }
         .divider{
            display: flex;
            align-items: center;
            justify-content: center;
         }
    </style>
</head>
<body>

    <main>

       
            <div class="matching end">
                <p>Inceputul</p>
            </div>
            
            <div class="divider">- </div>
            
            <div class="matching">
                    <p>matching-ul</p>
                    <p>Restul intrebarii</p>
            </div>

      
            <div class="matching end">
                <p>Inceputul Lorem ipsum dolor sit amet.</p>
            </div>
            
            <div class="divider">- </div>
            
            <div class="matching">
                    <p>matching-ul Lorem, ipsum dolor.</p>
                    <p>Restul intrebarii</p>
            </div>

            <div class="matching end">
                <p>Inceputul</p>
            </div>
            
            <div class="divider">- </div>
            
            <div class="matching">
                    <p>matching-ul</p>
                    <p>Restul intrebarii</p>
            </div>
      


    </main>
    
</body>
</html>