{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <style> 
        *{
            font-family: "Source Code Pro", monospace;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }
        #solution{
            width: 50vw;
        }
    </style>
</head>
<body>
    <h1>Reaaranjeaza</h1>
    <div>{{exercitiu}}</div>
    <div>
       
    </div>

    <form action="" method="post">
        {% csrf_token %}
        
        {% for cuv in cuvinte  %}
            <input type="text" value='' style='width:{{cuv|length|div:2}}rem;'
            maxlength='{{cuv|length}}' name="solution_part{{forloop.counter0}}">
        {% endfor %}
        
        <input type="submit" value="Verifica">
    </form>
    <script>
        var input = document.getElementById("solution")
        function adaugaCuvant(cuvant){
            if (input.value != ""){
                input.value += (" " + cuvant)
            }else{
                input.value +=  cuvant
            }

        }
    </script>


</body>
</html>